.jumbotron {
    margin-bottom: 0px;
    background-image: url(../img/portland-trail-blazers.png);
    background-position: 0% 2%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.4em 0.4em 0.4em;
}

p {
	color: red;
	font-weight: bold;
}
