p.intro {
	width: 50%;
	font-style: italic;
}

p.author {
	width: 75%;
	font-style: italic;
	font-weight: bold;
}

.important {
	color: red;
}
<<<<<<< HEAD

body {
	font-family: sans-serif;
}
=======
>>>>>>> origin/master
