h1 {
	color: turquoise;
	font-weight: bold;
	text-align: center;
}

h2 {
	font-style: italic;
	text-align: center;
}

h3 {
	color: turquoise;
	font-weight: bold;
	text-align: center;
}

p {
	font-family: sans-serif;
	text-align: center;
}

li {
	font-family: sans-serif;
	text-align: center;
}

ul {
	/* To keep the bullets centered, List-Style-Position set to Inside */
	list-style-position: inside;
	font-size: 20px;
	line-height: 30px;
}

ol {
	/* To keep the bullets centered, List-Style-Position set to Inside */
	list-style-position: inside;
	font-size: 20px;
	line-height: 30px;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}