* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

section {
  /* position is static by default */
  margin: auto;
  color: white;
  background-color: gray;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 70px;
  background-color: white;
  width: 100%;
}
body {
  margin-bottom: 120px;
}

h1 {
	color: turquoise;
	font-weight: bold;
	text-align: center;
}

h2 {
	font-style: italic;
	text-align: center;
}

h3 {
	color: turquoise;
	font-weight: bold;
	text-align: center;
}

p {
	font-family: sans-serif;
	text-align: center;
}

li {
	font-family: sans-serif;
	text-align: center;
}

ul {
	/* To keep the bullets centered, List-Style-Position set to Inside */
	list-style-position: inside;
	font-size: 20px;
	line-height: 30px;
}

ol {
	/* To keep the bullets centered, List-Style-Position set to Inside */
	list-style-position: inside;
	font-size: 20px;
	line-height: 30px;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;	
}

.flashy {
	color: red;
	font-style: italic;
}

.best {
	color: green;
	font-weight: bold;
	font-family: fantasy;
}

.important {
	color: orange;
}

.unimportant {
	color: gray;
}

.fish-type {
	font-style: italic;
}

.intro {
	color: teal;
	text-align: center;
	font-family: cursive;
}

<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> origin/master
.intro h2 {
	font-weight: bold;
}

<<<<<<< HEAD
=======
>>>>>>> origin/master
=======
>>>>>>> origin/master
.blog-post {
	text-align: center;
}

<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> origin/master
.blog-post h3 {
	font-size: 48px;
	color: blue;
}

<<<<<<< HEAD
=======
>>>>>>> origin/master
=======
>>>>>>> origin/master
.blog-post ul {
	color: purple;
	font-weight: bold;
}

.blog-post p {
	color: brown;
	font-family: cursive;
<<<<<<< HEAD
<<<<<<< HEAD
	margin-top: auto;
	margin-bottom: auto;
=======
>>>>>>> origin/master
=======
	margin-top: auto;
	margin-bottom: auto;
>>>>>>> origin/master
}

.about-my-cat h3 {
	color: orange;
	font-weight: bold;
}

.about-my-cat ul {
	color: blue;
	font-family: cursive;
}

.about-my-cat ul ul {
	color: purple;
	font-family: cursive;
}

.blue {
	color: blue;
	font-family: cursive;
}

.purple {
	color: purple;
	font-weight: bold;
}

<<<<<<< HEAD
<<<<<<< HEAD
img.kitty-image {
	display: block;
	float: right;
	padding: 6px;
=======
.kitty {
	display: block;
	float: right;
>>>>>>> origin/master
=======
img.kitty-image {
	display: block;
	float: right;
	padding: 6px;
>>>>>>> origin/master
}

.sidebar {
	width: 30%;
	margin-left: auto;
	margin-right: auto;		
	background-color: yellow;
<<<<<<< HEAD
<<<<<<< HEAD
	border: 5px solid blue;
	padding: 5px;
}

.column1 {
	width: 300px;
	float: left;
	background-color: purple;
}

.column1 p {
	color: yellow;
}

.column2 {
	width: 300px;
	float: left;
	background-color: yellow;
}

.column2 p {
	color: purple;
}

.column3 {
	width: 300px;
	float: left;
	background-color: gray;
}

.column3 p {
	color: brown;
}

.column4 {
	width: 300px;
	float: left;
	background-color: brown;
}

.column4 p {
	color: gray;
}

.my-class {
	border: 2px solid green;
	padding: 4px;
	margin: 12px;
	background-color: orange;
}

.digital p {
	background-color: red;
}

.analog p {
	background-color: yellow;
}

.digital p a {
	font-weight: bold;
}

.analog p a {
	font-style: italic;
}

a {
	font-weight: normal;
}

h2 {
	font-size: 32px;
}

.countries h2 {
	font-style: italic;
}
=======
=======
	border: 5px solid blue;
	padding: 5px;
>>>>>>> origin/master
}

.column1 {
	width: 300px;
	float: left;
	background-color: purple;
}

.column1 p {
	color: yellow;
}

.column2 {
	width: 300px;
	float: left;
	background-color: yellow;
}

.column2 p {
	color: purple;
}

.column3 {
	width: 300px;
	float: left;
	background-color: gray;
}

.column3 p {
	color: brown;
}

.column4 {
	width: 300px;
	float: left;
	background-color: brown;
}

.column4 p {
	color: gray;
}

.my-class {
	border: 2px solid green;
	padding: 4px;
	margin: 12px;
	background-color: orange;
}

.digital p {
	background-color: red;
}

.analog p {
	background-color: yellow;
}

.digital p a {
	font-weight: bold;
}

.analog p a {
	font-style: italic;
}

a {
	font-weight: normal;
}

h2 {
	font-size: 32px;
}

.countries h2 {
	font-style: italic;
}
>>>>>>> origin/master
