.white-background {
  background-color: white;
}

.black-text {
  color: black;
}

.black-background {
  background-color: black;
}

.white-text {
  color: white;
}

.container-center {
	text-align: center;
}