<h1 class="text-center" style='color:orange' /><strong><%= @visitor%>, Welcome to Dune Movies!</strong></h1>
<div class="container">
<div class="row">
  <div class="col-md-6">        
    <h2 class="text-center" style='color:orange' /><em>Dune 1984 Movie Poster</em></h2>
    <img class='img-responsive' src='/img/dunemovie1984.jpg' alt='A photo of Dune 1984 movie poster.' style='width:100%; height:500px;' />            
  </div>
  <div class="col-md-6">        
    <h2 class="text-center" style='color:orange' /><em>Dune 2000 Movie Poster</em></h2>   
    <img class='img-responsive' src='/img/dunemovie2000.jpg' alt='A photo of Dune 2000 movie poster.' style='width:100%; height:500px;' />    
  </div>
</div>
  <p class="text-center">Thanks for your stay, dear <%= @visitor%></p>
  <p class="text-center">Sincerely, <%= @founder%></p> 
</div>